.work-listing-page {
    @include media-breakpoint-up(md) {
        padding-bottom: 20rem;
    }

    p {
        font-size: $p-small-font-size;
        line-height: $p-small-line-height;

        &.desc {
            font-weight: $font-weight-medium;
        }
    }

    .categ {
        font-size: $p-small-font-size;
        letter-spacing: .1rem;
        word-spacing: .2rem;
        line-height: $p-small-line-height;
    }

    .h4 {
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
    }

    *:not(.h6) {
        color: $body-color;
        transition: .3s;
    }

    // for ios
    @supports (-webkit-touch-callout: none) {

        p,
        .categ {
            line-height: calc(#{$p-small-line-height} - 1.5rem);
        }
    }

    .intro {
        background: $purple-700;
        padding: 14rem 0 0;
        margin-bottom: calc(calc(var(--worksListingIntroHeight) - 33rem)*-1);

        @include media-breakpoint-down(md) {
            padding-top: 6rem;
            margin-bottom: 0;
        }

        * {
            color: $white;
        }

        h2 {
            margin-bottom: 5rem;
        }

        p {
            margin-bottom: 3.5rem;
        }

        .tabs {
            margin: 8.5rem 0 4rem;
        }
    }

    .even-images-group {
        padding: 8rem 0 12rem;

        @include media-breakpoint-down(md) {
            padding-bottom: 8rem;
        }
    
        .group {
            display: block;
            pointer-events: none;

            @include media-breakpoint-up(md) {
                margin-top: calc(calc(var(--worksListingIntroHeight) - 32rem)*-1);
            }

            .image {
                margin-top: 0;
                display: inline-block;
                pointer-events: all;

                @include media-breakpoint-up(md) {
                    img {
                        object-fit: cover;
                    }

                    &:nth-child(even) {
                        margin-bottom: calc(calc(var(--worksListingIntroHeight) - 23rem)*-1);

                        .img-wrap {
                            height: 54.8rem;
                        }
                    }

                    &:nth-child(odd) {
                        margin-bottom: 2rem;

                        .img-wrap {
                            height: 65.4rem;
                        }
                    }
                }

                .img-wrap {
                    position: relative;
                    display: flex;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: transparentize($purple-600, .7);
                        opacity: 0;
                        transition: .3s;
                        pointer-events: none;
                    }
                }

                &:hover .img-wrap:after {
                    opacity: 1;
                }


                &::after {
                    display: none;
                }

                .text {
                    padding: 3rem 0 6rem;

                    .title {
                        margin: 1.5rem 0 .8rem;
                    }
                }
            }
        }

        a:hover {

            *:not(p) {
                color: $purple-600;
            }
        }
    }


}

.work-detail-page {

    .breadcrumb {
        margin-top: .3rem;
    }

    section {
        &.intro {

            .text {
                padding: 8rem 0 12.4rem;

                @include media-breakpoint-up(lg) {
                    margin-left: 8%;
                }
            }

            .image.parallax:after {
                display: none;
            }
        }

        &.brief {
            @media (max-width: 575px) {
                // .group{
                //     &+.group{
                //         padding-top: 3rem;
                //     }
                // }
            }
        }

        &.screens {
            padding: var(--gutter) 0;

            @include media-breakpoint-up(lg) {
                padding: 19rem 0;
            }

            background: $gray-300;
            position: relative;
            max-width: 100vw;
            overflow: hidden;

            .row {
                margin: calc(calc(var(--gutter) / 2) * -1);
            }

            .screen {
                display: flex;
                padding: calc(var(--gutter) / 2);
                align-items: flex-start;

                @include media-breakpoint-up(lg) {
                    width: 50%;
                }

                img {
                    width: 100%;
                }
            }

            .stripes {
                position: absolute;
                bottom: 0;
                right: -4%;
                height: 24rem;

                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }
        }

        &.featured-sec {
            padding: 12.5rem 0 0;

            @include media-breakpoint-up(lg) {
                padding: 18rem 0 0;
            }

            .featured-screen {
                background: $gray-400;

                &.clubhouse-gradient_bg {
                    background: $clubhouse_gradient_bg;
                }

                @include media-breakpoint-up(lg) {
                    padding: 22.5rem 0;
                }

                img {
                    box-shadow: none;
                }
            }

            .random-screens {
                background: transparentize($gray-300, .95);
                position: relative;
                z-index: -1;


                &::after {
                    content: "";
                    width: 18rem;
                    height: 100%;
                    background: url(../images/striped_wolfpack.png);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background-position: bottom left;
                    background-repeat: no-repeat;
                    transform: rotate(90deg) translateX(-13rem) translateY(100%);
                    z-index: -1;
                    display: none;
                    transition: .6s;

                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }

                &.clubhouse-light-bg {
                    background: $clubhouse_light;

                    &::after {
                        display: none;
                    }
                }

                &.is-inview {
                    &::after {
                        transform: rotate(90deg) translateX(-13rem) translateY(50%);
                    }
                }
            }
        }

        &.single-column-text {}
    }

    .next-case {
        background: $white;
        padding: 10rem 0;

        .btn {
            font-weight: $font-weight-medium;
        }

        @include media-breakpoint-up(lg) {
            padding: 18rem 0;
        }
    }
}