.work-listing-page {
    .intro {
        background: $purple-700;
        padding: 14rem 0 0;

        * {
            color: $white;
        }

        h2 {
            margin-bottom: 5rem;
        }

        p {
            margin-bottom: 3.5rem;
        }

        .tabs {
            margin: 8.5rem 0 4rem;
        }
    }

    .even-images-group {
        padding: 8rem 0 12rem;

        .image {
            &:nth-child(odd) {
                margin-top: calc(calc(var(--worksListingIntroHeight) - 13rem)*-1);
            }

            &::after {
                display: none;
            }

            .text {
                padding: 3rem 0 6rem;

                .title{
                    margin: 1.5rem 0 .8rem; 
                }
            }
        }
    }


}

.work-detail-page {

    section {
        &.intro {
            .text {
                padding: 8rem 0 12.4rem;

                @include media-breakpoint-up(lg) {
                    margin-left: 8%;
                }
            }
        }

        &.brief {
            @media (max-width: 575px) {
                // .group{
                //     &+.group{
                //         padding-top: 3rem;
                //     }
                // }
            }
        }

        &.screens {
            padding: var(--gutter) 0;

            @include media-breakpoint-up(lg) {
                padding: 19rem 0;
            }

            background: $gray-600;
            position: relative;
            max-width: 100vw;
            overflow: hidden;

            .row {
                margin: calc(calc(var(--gutter) / 2) * -1);
            }

            .screen {
                display: flex;
                padding: calc(var(--gutter) / 2);
                align-items: flex-start;

                @include media-breakpoint-up(lg) {
                    width: 50%;
                }

                img {
                    width: 100%;
                }
            }

            .stripes {
                position: absolute;
                bottom: 0;
                right: -4%;
                height: 24rem;

                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }
        }

        &.wolfpack-featured {
            padding: 12.5rem 0 0;

            @include media-breakpoint-up(lg) {
                padding: 18rem 0 0;
            }

            .wolfpack-screen {
                background: $gray-700;

                @include media-breakpoint-up(lg) {
                    padding: 22.5rem 0;
                }

                img {
                    box-shadow: none;
                }
            }

            .random-screens {
                background: transparentize($gray-600, .95);
                position: relative;
                z-index: -1;

                &::after {
                    content: "";
                    width: 18rem;
                    height: 100%;
                    background: url(../images/striped_wolfpack.png);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background-position: bottom left;
                    background-repeat: no-repeat;
                    transform: rotate(90deg) translateX(-13rem) translateY(100%);
                    z-index: -1;
                    display: none;
                    transition: .6s;

                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }

                &.is-inview {
                    &::after {
                        transform: rotate(90deg) translateX(-13rem) translateY(50%);
                    }
                }
            }
        }

        &.single-column-text {}
    }

    .next-case {
        background: $white;
        padding: 10rem 0;

        .btn {
            font-weight: $font-weight-medium;
        }

        @include media-breakpoint-up(lg) {
            padding: 18rem 0;
        }
    }
}