.detail-page {

    section {
        &.intro {
            .text {
                padding: 8rem 0 12.4rem;

                @include media-breakpoint-up(lg) {
                    margin-left: 8%;
                }
            }
        }

        &.screens {
            padding: 4rem 0;

            @include media-breakpoint-up(lg) {
                padding: 19rem 0;
            }

            background: $gray-600;
            position: relative;
            max-width: 100vw;
            overflow: hidden;

            .row {
                margin: calc(calc(#{$grid-gutter-width} / 2) * -1);
            }

            .screen {
                display: flex;
                padding: calc(#{$grid-gutter-width} / 2);

                @include media-breakpoint-up(lg) {
                    width: 50%;
                }

                img {
                    width: 100%;
                }
            }

            .stripes {
                position: absolute;
                bottom: 0;
                right: -4%;
                height: 24rem;

                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }
        }

        &.wolfpack-featured {
            padding: 12.5rem 0 0;

            @include media-breakpoint-up(lg) {
                padding: 18rem 0 0;
            }

            .wolfpack-screen {
                background: $gray-700;
                padding: 5.5rem 3rem;

                @include media-breakpoint-up(lg) {
                    padding: 22.5rem 0;
                }

                img {
                    box-shadow: none;
                }
            }

            .random-screens {
                background: transparentize($gray-600, .95);
                position: relative;
                z-index: -1;

                &::after {
                    content: "";
                    width: 18rem;
                    height: 100%;
                    background: url(../images/striped_wolfpack.png);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background-position: bottom left;
                    background-repeat: no-repeat;
                    transform: rotate(90deg) translateX(-13rem) translateY(100%);
                    z-index: -1;
                    display: none;
                    transition: .6s;

                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }

                &.is-inview {
                    &::after {
                        transform: rotate(90deg) translateX(-13rem) translateY(50%);
                    }
                }
            }
        }
    }

    .next-case {
        background: $white;
        padding: 10rem 0;

        .btn {
            font-weight: $font-weight-medium;
        }

        @include media-breakpoint-up(lg) {
            padding: 18rem 0;
        }
    }
}