@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Black.woff2") format("woff2"), url("../fonts/poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Italic.woff2") format("woff2"), url("../fonts/poppins/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/poppins/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Thin.woff2") format("woff2"), url("../fonts/poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.font-weight-light {
  font-weight: 200;
}

.font-weight-base {
  font-weight: 300;
}

.headings-font-weight {
  font-weight: 700;
}

.h1-font-weight {
  font-weight: 500;
}

/***MEDIA QUERIES ***/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(4rem / 2);
  padding-right: calc(4rem / 2);
}
@media (min-width: 768px) {
  .container {
    max-width: calc(72.3% + 4rem);
  }
  .container.header-container {
    max-width: calc(80.5% + 4rem);
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.w-100 {
  width: 100%;
}

.overflow-visible {
  overflow: visible !important;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }
}
.row, .layout-2 .group, .layout-2 .screens-grid .column, .layout-2 .screens-grid, .layout-1 .group, .even-images-group .group {
  display: flex;
  flex-wrap: wrap;
}

.even-images-group {
  padding: 3rem 0 0;
}
.even-images-group + .layout-1 {
  margin-top: -9rem;
}
@media (min-width: 992px) {
  .even-images-group {
    padding: 16rem 0 0;
  }
  .even-images-group + .layout-1 {
    margin-top: 0;
  }
}
.even-images-group .group {
  align-items: flex-start;
}
.even-images-group .image {
  background-size: contain;
  position: relative;
  overflow: hidden;
  margin-bottom: 6.4%;
}
@media (min-width: 992px) {
  .even-images-group .image::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: calc(100% + 18rem);
    border: 0px solid #fff;
    border-width: 10rem 0;
    box-sizing: border-box;
  }
}
.even-images-group .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .even-images-group .image {
    width: 43%;
    margin-bottom: 0;
  }
  .even-images-group .image:nth-child(odd) {
    margin-right: 3.5%;
    margin-top: -9rem;
  }
  .even-images-group .image:nth-child(even) {
    margin-left: 3.5%;
  }
}
.even-images-group .image:nth-child(even) .stripes {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: auto;
  height: auto;
  opacity: 1;
  transform: translateX(40%) translateY(-1%);
  max-width: 9.9rem;
}

.fullwidth-big-title {
  padding: 9rem 0 1rem;
}

.layout-1 {
  padding-bottom: 13.5rem;
}
.layout-1 .group {
  padding-top: 15rem;
}
.layout-1 .group .title-space {
  width: 100%;
  align-self: flex-start;
  padding-bottom: 3rem;
}
.layout-1 .group .title-space:empty {
  display: none;
}
@media (min-width: 992px) {
  .layout-1 .group .title-space {
    width: 25%;
  }
  .layout-1 .group .title-space:empty {
    display: block;
  }
}
.layout-1 .group .content-space {
  width: 100%;
}
@media (min-width: 992px) {
  .layout-1 .group .content-space {
    width: 75%;
  }
}
.layout-1 .group .content-space .links {
  width: 100%;
  margin: 0 0 7.5rem;
}
@media (min-width: 992px) {
  .layout-1 .group .content-space .links {
    width: auto;
    margin: 0 auto 0 0;
  }
}
.layout-1 .group .content-space .links a {
  display: block;
}
.layout-1 .group .content-space .links a:hover {
  transform: translate3d(-2px, 2px, 2px) scale(1.01);
  text-shadow: 0px 0px 0px;
}
.layout-1 .group h2 {
  padding: 0rem 0 10rem;
}
@media (min-width: 1200px) {
  .layout-1 .group h2 {
    padding: 10rem 0;
  }
}

@media (min-width: 1200px) {
  .layout-2 .container {
    padding-left: 5.6%;
    padding-right: 5.6%;
  }
}
.layout-2 .screens-grid {
  padding: 5.5rem 3rem;
  position: relative;
  margin: -2rem;
}
@media (min-width: 992px) {
  .layout-2 .screens-grid {
    margin: calc(4rem * -1);
    padding: 18rem 0 0;
  }
}
.layout-2 .screens-grid .image {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
}
@media (min-width: 992px) {
  .layout-2 .screens-grid .image {
    padding: 4rem;
  }
}
.layout-2 .screens-grid .image img {
  width: 100%;
}
@media (min-width: 992px) {
  .layout-2 .screens-grid .column {
    width: calc(53% + 4rem);
    align-items: flex-start;
  }
  .layout-2 .screens-grid .column:nth-child(2) {
    width: calc(47% - 4rem);
  }
}
.layout-2 .screens-grid .column:nth-child(1) .image {
  width: 100%;
}
.layout-2 .screens-grid .column:nth-child(1) .image:nth-child(2) {
  width: 54%;
  align-self: flex-end;
}
.layout-2 .screens-grid .column:nth-child(1) .image:nth-child(3) {
  width: 46%;
  align-self: flex-end;
}
.layout-2 .group {
  padding: 0 calc(4rem/2);
}
.layout-2 .group + .even-images-group {
  margin-top: 11rem;
}
.layout-2 .group .title-space {
  width: 100%;
  align-self: flex-start;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .layout-2 .group + .even-images-group {
    margin-top: 0;
  }
  .layout-2 .group .title-space {
    width: calc(50% - calc(4rem/2));
  }
}
.layout-2 .group .content-space {
  width: 100%;
}
@media (min-width: 992px) {
  .layout-2 .group .content-space {
    width: calc(50% + calc(4rem/2));
  }
}
.layout-2 .even-images-group .image {
  width: 100%;
}
@media (min-width: 576px) {
  .layout-2 .even-images-group .image {
    width: calc(50% - calc(4rem/2));
  }
  .layout-2 .even-images-group .image:nth-child(odd) {
    margin-right: calc(4rem/2);
  }
  .layout-2 .even-images-group .image:nth-child(even) {
    margin-left: calc(4rem/2);
  }
}

.image.parallax {
  overflow: hidden;
}
.image.parallax img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 992px) {
  .image.parallax {
    position: relative;
  }
  .image.parallax::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: calc(100% + 10rem);
    border: 0px solid #fff;
    border-width: 10rem 0;
    box-sizing: border-box;
  }
}

/*! locomotive-scroll v4.1.0 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  white-space: nowrap;
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  background: rgba(222, 222, 222, 0.75);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #9057c5;
  border-radius: 10px;
  width: 18px;
  height: 8px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}
*:focus {
  outline: none;
}

html {
  font-size: 40.4%;
}
@media (min-width: 1400px) {
  html {
    font-size: 47.1%;
  }
}
@media (min-width: 1535px) {
  html {
    font-size: 51.6%;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #3B3B3B;
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
body:not(.loaded) > * {
  transition: color 0.3s;
  opacity: 0;
}
body.loaded > * {
  opacity: 1;
}

.base-font-size {
  font-size: 2rem;
}

.he {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 9rem;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 8rem;
  font-weight: 500;
  line-height: 10rem;
}

h3,
.h3 {
  font-size: 4.9rem;
  font-weight: 300;
  line-height: 6.1rem;
  color: #000;
}
h3 + p,
.h3 + p {
  margin-top: 4rem;
}

h4,
.h4 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
}

h5,
.h5 {
  font-size: 3rem;
}

h6,
.h6 {
  font-size: 2rem;
}

p,
.p,
.launch,
a {
  font-size: 2.6rem;
  line-height: 4.4rem;
  color: #000;
}

a {
  color: #932734;
  font-weight: 500;
  transition: 0.3s;
}

.btn {
  text-decoration: none;
  background: transparent;
}

.btn-arrow {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: #3B3B3B;
  min-height: 5.8rem;
}
.btn-arrow span {
  transition: 0.3s;
}
.btn-arrow:hover span {
  transform: skew(-10deg);
}
.btn-arrow::after {
  content: "";
  width: 5.7rem;
  height: 5.7rem;
  background-color: #6E4471;
  border-radius: 50%;
  background-image: url(../images/arrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 5rem;
  transition: 0.3s;
  background-size: 2.3rem;
}
.btn-arrow:hover::after {
  border-radius: 20%;
  height: 5rem;
}

main {
  max-width: 100vw;
  overflow: hidden;
}

.launch {
  text-decoration: none;
  color: #3B3B3B;
  align-self: center;
  display: inline-block;
  position: relative;
  padding-right: 5rem;
  font-weight: 700;
  transition: 0.3s;
}
.launch span {
  transition: 0.3s;
  display: inline-block;
}
.launch::after {
  content: "";
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 0.8rem solid #CACACC;
  position: absolute;
  rotate: 0;
  top: 50%;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
  box-sizing: border-box;
  transition: 0.3s;
}
.launch:hover::after {
  right: 2rem;
  height: 9rem;
}
.launch:hover span {
  transform: skew(-10deg);
}

button {
  cursor: pointer;
}

.image {
  display: flex;
  align-items: flex-start;
}

.mouseCursor {
  position: fixed;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  top: -0.5rem;
  left: -0.5rem;
  transition: opacity 0.3s, color 0.4s, width 0.3s, height 0.3s, border 0.3s;
  z-index: 2;
  background: transparent;
}
.mouseCursor.inactive {
  opacity: 0;
}
.mouseCursor.onNavButton {
  width: 60px;
  height: 60px;
  top: -30px;
  left: -30px;
  background-color: #000;
  z-index: 1;
  transform: translate(calc(calc(100vw - 29px) - var(--containerOffset)), 42px) !important;
}
@media (min-width: 1400px) {
  .mouseCursor.onNavButton {
    transform: translate(calc(calc(100vw - 28px) - var(--containerOffset)), 45px) !important;
  }
}
.mouseCursor.onNext-case {
  width: 20rem;
  height: 20rem;
  top: -10rem;
  left: -10rem;
  background-size: cover;
  transition: opacity 0.3s, color 0.4s, width 0, height 0, border 0.3s;
  cursor: none;
}
@media (min-width: 1200px) {
  .mouseCursor.onNext-case {
    background: url(../images/screens/screen4.jpg) center center no-repeat;
  }
}

.nicescroll-cursors {
  margin-right: 2px;
}

.skewed * {
  display: block;
  opacity: 0;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: skew(10deg, 1deg) rotateX(90deg);
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.1s;
}
.skewed *:nth-child(2) {
  transition-delay: 0.3s;
}
.skewed *:nth-child(3) {
  transition-delay: 0.7s;
}
.skewed *:nth-child(4) {
  transition-delay: 0.1s;
}
.skewed.is-inview * {
  transform: none;
  opacity: 1;
  transition-duration: 1s;
}

.hamburger {
  width: 22px;
  height: 3px;
  background: #3B3B3B;
  display: block;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 100%;
  right: 0;
  top: -400%;
  background: #3B3B3B;
  transition: 0.3s;
}
.hamburger::after {
  top: initial;
  bottom: -400%;
}
.hamburger.change {
  background: transparent;
}
.hamburger.change::before {
  transform: rotate(-45deg) translate(-10px, 8px);
}
.hamburger.change::after {
  transform: rotate(45deg) translate(-8px, -6px);
}

#navTrigger {
  margin-left: auto;
  background: transparent;
  border: none;
  height: 40px;
  width: 37px;
  position: fixed;
  top: 3rem;
  right: var(--containerOffset);
  z-index: 2;
}
#navTrigger:hover .hamburger {
  background: white;
}
#navTrigger:hover .hamburger::before, #navTrigger:hover .hamburger::after {
  background: white;
}
#navTrigger:hover .hamburger.change {
  background: transparent;
}

.siteHeader .logo img {
  max-width: 23.8rem;
}
.siteHeader .header-container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.wolfpack-screen {
  background: #932734;
  padding: 5.5rem 3rem;
}
@media (min-width: 992px) {
  .wolfpack-screen {
    padding: 12.5rem 0;
  }
}
.wolfpack-screen img {
  box-shadow: 0 31px 99px #6A1C26;
}

footer * {
  color: white;
}
footer .contact {
  background: #363636;
  padding: 13rem 0;
}
footer .contact .btn-arrow {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 8rem 0 0;
}
@media (min-width: 992px) {
  footer .contact .btn-arrow {
    margin: 0 0 0 auto;
  }
}
footer .contact .h5 {
  margin-bottom: 3.8rem;
}
footer .contact p:not(.h5) {
  font-weight: 500;
}

.detail-page section.intro .text {
  padding: 8rem 0 12.4rem;
}
@media (min-width: 992px) {
  .detail-page section.intro .text {
    margin-left: 8%;
  }
}
.detail-page section.screens {
  padding: 4rem 0;
  background: #92959C;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}
@media (min-width: 992px) {
  .detail-page section.screens {
    padding: 19rem 0;
  }
}
.detail-page section.screens .row, .detail-page section.screens .even-images-group .group, .even-images-group .detail-page section.screens .group, .detail-page section.screens .layout-1 .group, .layout-1 .detail-page section.screens .group, .detail-page section.screens .layout-2 .screens-grid, .layout-2 .detail-page section.screens .screens-grid, .detail-page section.screens .layout-2 .screens-grid .column, .layout-2 .screens-grid .detail-page section.screens .column, .detail-page section.screens .layout-2 .group, .layout-2 .detail-page section.screens .group {
  margin: calc(calc(4rem / 2) * -1);
}
.detail-page section.screens .screen {
  display: flex;
  padding: calc(4rem / 2);
}
@media (min-width: 992px) {
  .detail-page section.screens .screen {
    width: 50%;
  }
}
.detail-page section.screens .screen img {
  width: 100%;
}
.detail-page section.screens .stripes {
  position: absolute;
  bottom: 0;
  right: -4%;
  height: 24rem;
  display: none;
}
@media (min-width: 992px) {
  .detail-page section.screens .stripes {
    display: block;
  }
}
.detail-page section.wolfpack-featured {
  padding: 12.5rem 0 0;
}
@media (min-width: 992px) {
  .detail-page section.wolfpack-featured {
    padding: 18rem 0 0;
  }
}
.detail-page section.wolfpack-featured .wolfpack-screen {
  background: #363636;
  padding: 5.5rem 3rem;
}
@media (min-width: 992px) {
  .detail-page section.wolfpack-featured .wolfpack-screen {
    padding: 22.5rem 0;
  }
}
.detail-page section.wolfpack-featured .wolfpack-screen img {
  box-shadow: none;
}
.detail-page section.wolfpack-featured .random-screens {
  background: rgba(146, 149, 156, 0.05);
  position: relative;
  z-index: -1;
}
.detail-page section.wolfpack-featured .random-screens::after {
  content: "";
  width: 18rem;
  height: 100%;
  background: url(../images/striped_wolfpack.png);
  position: absolute;
  top: 50%;
  left: 50%;
  background-position: bottom left;
  background-repeat: no-repeat;
  transform: rotate(90deg) translateX(-13rem) translateY(100%);
  z-index: -1;
  display: none;
  transition: 0.6s;
}
@media (min-width: 992px) {
  .detail-page section.wolfpack-featured .random-screens::after {
    display: block;
  }
}
.detail-page section.wolfpack-featured .random-screens.is-inview::after {
  transform: rotate(90deg) translateX(-13rem) translateY(50%);
}
.detail-page .next-case {
  background: white;
  padding: 10rem 0;
}
.detail-page .next-case .btn {
  font-weight: 400;
}
@media (min-width: 992px) {
  .detail-page .next-case {
    padding: 18rem 0;
  }
}/*# sourceMappingURL=style.css.map */